.body{
  margin: 0;
  
}

.navbar{
  display: flex;
  justify-content: center;
  height: 4.2rem;
  background: rgb(230,213,239);
background: linear-gradient(90deg, rgba(230,213,239,0.9882384228105304) 25%, rgba(133,0,205,0.9210115320542279) 85%);
}

.boxlogo{
  position: absolute;
  display: flex;
  margin-right: 78.5rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.burgericon{
  position: absolute;
  display: flex;
  margin-right: 68.5rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.user-info{
  position: absolute;
  display: flex;
  margin-left: 81rem;
  font-size: 3rem;
  color: white;
}

.sidebar{
  display: flex;
  justify-content: left;
  width: 7rem;
  height: 89.5vh;
  background: rgb(230,213,239);
background: linear-gradient(180deg, rgba(230,213,239,0.9882384228105304) 25%, rgba(133,0,205,0.9210115320542279) 85%);
}
