.body{
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: center;
  height: 4.5rem;
  background-color: #502d77;
}

.wislogo{
  margin-right: 75rem;
  margin-top: .5rem;
  height: 3.5rem;
}

.burgericon{
  position: absolute;
  display: flex;
  margin-right: 62rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  
}

.burgericon:hover{
  cursor: pointer;
  color: rgb(238, 241, 241);
}


.user-info{
  position: absolute;
  display: flex;
  margin-left: 81rem;
  font-size: 3rem;
  color: white;
}

.sidebar {
  display: flex;
  justify-content: left;
  width: 4.1rem; /* Reduced width to fit only icons */
  height: 88.8vh;
  background-color: #502d77;
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.sidebar:hover {
  width: 10.8rem; /* Expanded width on hover */
}

.sidebar.expanded {
  width: 10.7rem; /* Expanded width */
}

.sidebar ul {
  font-size: 1.31rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 2.4rem 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar i {
  font-size: 1.5rem;
  color: white;
  margin-right: .5rem; /* Space between icon and text */
}

.sidebar-text {
  opacity: 0; /* Hide text by default */
  transition: opacity 0.3s ease; /* Smooth transition for text visibility */
}

.sidebar:hover .sidebar-text {
  opacity: 1; /* Show text on hover */
  
}

.sidebar.expanded .sidebar-text {
  opacity: 1; /* Show text when expanded */
}


.sidebar a{
  color: black;
  list-style: none;
  text-decoration: none;
}

.sidebar a:hover{
  font-size: 1.4rem;
  font-weight: bold;
  color: beige;
}